<div class="container">
	<h1>新增公告</h1>
	<%= form_for(@announcement) do |f| %>
		<%= f.label :title, "標題" %>
		<%= f.text_field :title %><br/>

		<%= f.label :content, "內容" %>
		<%= f.text_area :content %> <br/>

		<%= f.submit "發佈", class: "btn btn-outline-secondary" %>
		<%= link_to "取消", announcements_path, class: "btn btn-outline-secondary" %>
	<% end %>
</div>

