<table class="table w-50 mx-auto">
	<% teams = get_teams(event.id)%>
	<thead>
		<% if teams.count > 0%>
			<tr>
				<th colspan="2">隊伍名稱</th>
				<th>隊伍成員</th>
				<th>操作</th>
			</tr>
		<% end %>
	</thead>

	<tbody>
		<% if teams.count == 0 %>
			<p>無人報名</p>
		<% else %>
			<% teams.each do |team| %>
				<% members = find_member(team.id)%>
				<tr>
					<td rowspan="<%= (members.count + 1)%>"><%= team.name %></br><%= link_to "隊伍取消", event_team_path(event, team), method: "delete", data: {confirm: "確定取消"}%></td>
					<% members.each do |member|%>
						<tr>
							<td><%= member.student_id %>&emsp;<%= member.name%></td>
							<td><%= link_to "取消", cancel_team_member_path(team_id: team.id, user_id: member.id), method: "delete", data: {confirm: "確定刪除"}%><td>
						</tr>
					<% end %>
				</tr>
			<% end %>
		<% end %>
	</tbody>
	
</table>


