<!doctype html>
<html lang="zh-TW">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<%= javascript_include_tag "application", "data-turbolinks-track" =>true %>
		<%= csrf_meta_tags %>
		<title>NCTU CowBei Sports</title>
	</head>
	
	<body>
    <%= render "common/navbar" %>

		<div id="notifaction">
			<% if notice %>
				<div class="alert alert-success alert-dismissible">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= notice %>
				</div>
			<% end %>
			<% if alert%>
				<div class="alert alert-danger alert-dismissible">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= alert %>
				</div>
			<% end %>	
		</div>

		<div id="main">
			<%= yield %>
		</div>


	</body>

</html>


<script>
	window.setTimeout(function() {
		$(".alert").fadeTo(500, 0).slideUp(500,
			function(){
				$(this).remove();
			});
	}, 1000);
</script>
